#s1 p.body p {
    width: 80%;
    font-size: 1.6rem;
}
#s1 img.fullImage {
    width: 100vw;
    height: 105vh;
    margin-left: calc(-1 * var(--padding));
}
#s1 .images p {text-align: center;}
#s1 .images p img {
    width: 100%;
    max-height: 120vh;
}

#s1 img {margin-bottom: 7.5rem;}
#s1 img.thumbnail {
    width: 100%;
    margin: calc(var(--pX) * 10) 0 calc(var(--pX) * 7.5);
    max-height: 90vh;
}

#s1 .link {
    text-decoration-line: underline;
    margin-top: 4rem;}
#s1 .credit p {
    text-transform: initial;
    font-size: 1.8rem;
    line-height: 2;
}

@media screen and (max-width: 480px) {

    
#s1 p.body p {
    width: 100%;
    font-size: 1.3rem;
}
#s1 img {margin-bottom: 5vw;}
#s1 img.fullImage {
    height: auto;
    margin-left: calc(-1 * var(--spPadding));
}
#s1 img.thumbnail {
    width: 100vw;
    margin-left: calc(-1 * var(--spPadding));
    margin-top: calc(var(--pX) * 5);
    margin-bottom: 5vw;
}

#s1 .images p img {width: 100%;}
#s1 .credit p {
    font-size: 1.25rem;
    letter-spacing: -.015em;
}
}