.masonry-item * {width: 100%;}
.masonry-item img {width: 100%;}


.image p img {width: 100%;}
.masonry-2 .image p img {display: none;}
.masonry-2 .image p img:nth-of-type(1) {display: block;}

.masonry-3 .image p img {display: none;}
.masonry-3 .image p img:nth-of-type(2) {display: block;}

.masonry-4 .image p img {display: none;}
.masonry-4 .image p img:nth-of-type(1) {display: block;}

.masonry-5 .image p img {display: none;}
.masonry-5 .image p img:nth-of-type(2) {display: block;}
